*{
    margin: 0;
    background-color: #000;
}

h2{
    margin-top: 20px;
    margin-bottom:5px;
    text-align: center;
    font-size: 40px;
    color: #fff;
}
div{
    width: 100%;
}
.main{
    position: relative;
    width: 65%;
    margin: 0 auto;
    margin-top: 2%;
}


.main img{
    border:3px solid rgb(17, 241, 17);
}

footer{
    text-align: center;
    font-weight: 900;
    color: #fff;
    margin-top:2%;
}